<h2><%= @post.title %></h2>
<h3><%= @post.content %></h3>
<ul>Categories:
    <% @post.categories.each do |cat| %>
        <li><%= cat.name %></li>
    <% end %>
</ul>

<ul>Users:
    <% @post.users.each do |user| %>
        <li><%= link_to user.username, user_path(user) %></li>
    <% end %>
</ul>

<ul>Comments:
    <% @post.comments.each do |com| %>
        <li><%= com.user.username %> says: <%= com.content %></li>
    <% end %>
</ul>

<%= form_for @post.comments.build do |f| %>
    <%= f.hidden_field :post_id %>
    <%= f.collection_select :user_id, User.all, :id, :username, include_blank: "Select a user" %>

    <%= f.fields_for :user, User.new do |user_fields| %>
        <%= user_fields.label :username %>
        <%= user_fields.text_field :username %>
    <% end %>

    <%= f.label :content, "New Comment" %>
    <%= f.text_area :content %>

    <%= f.submit %>
<% end %>
